{% extends "base.html" %}
{% block content %}
<h2>Register</h2>
<form action="/register/" method="POST">
    {% csrf_token %}
    <label for="email">Email:</label><br>
    <input type="email" name="email" required><br><br>
    
    <label for="password">Password:</label><br>
    <input type="password" name="password" required><br><br>
    
    <label for="role">Role:</label><br>
    <select name="role" required>
      <option value="customer">Customer</option>
      <option value="seller">Seller</option>
    </select><br><br>

    <button type="submit" class="btn">Register</button>
  </form>
{% endblock %}
